<%= form_with(model: edificio, local: true) do |form| %>
  <% if edificio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(edificio.errors.count, "error") %> prohibited this edificio from being saved:</h2>

      <ul>
      <% edificio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nombre %>
    <%= form.text_field :Nombre, id: :edificio_Nombre %>
  </div>

  <div class="field">
    <%= form.label :Clave %>
    <%= form.text_field :Clave, id: :edificio_Clave %>
  </div>

  <div class="field">
    <%= form.label :Grupo_id %>
    <%= form.text_field :Grupo_id, id: :edificio_Grupo_id %>
  </div>

  <div class="field">
    <%= form.label :Estudiante_id %>
    <%= form.text_field :Estudiante_id, id: :edificio_Estudiante_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
